# Aula 05 - Introdução ao List comprehension e Format  17/09/2024

> Nessa aula iremos dar introdução ao Listcomprehension, uma forma mais simples de realizar conversação de valores entre duas ou mais listas. Atualmente é uma das formas mais simples de aplicar conversões, substituindo as declarações mais extensas do que o metodo conversional, lambda e map.

## Exemplo 1 - Conversão de Celcius para Fahrenheit

In [1]:
celcius = [10,20,24,35,40]
fahrenheit = [round(x*1.8+32,2) for x in celcius]
print(fahrenheit)

[50.0, 68.0, 75.2, 95.0, 104.0]

## Exemplo 2 - Conversão de KMH para MPH

In [2]:
kmh = [100,25,70,80,180]
mph = [round(x/1.61,2) for x in kmh]
print(mph)

[62.11, 15.53, 43.48, 49.69, 111.8]

In [7]:
print("{:<6}{:<6}".format("kmh","mph"))
print("============")
x = 0
while(x<len(kmh)):
    print("{:<6}{:<6}".format(kmh[x],mph[x]))
    x += 1

kmh   mph
============
100   62.11
25    15.53
70    43.48
80    49.69
180   111.8

In [11]:
print("{:<8}{:<6}".format("celcius","fahrenheit"))
print("====================")
x = 0
while(x<len(celcius)):
    print("{:<8}{:<6}".format(celcius[x],fahrenheit[x]))
    x += 1

celcius fahrenheit
====================
10      50.0
20      68.0
24      75.2
35      95.0
40      104.0

## Exercício 1

> Crie uma lista com 10 valores em metros. Crie uma tabela de conversão para polegadas, pés jardas e mílhas marítmas. Listando o número da linha e o cabeçalho da tabela

In [12]:
metros = [5,10,15,20,25,30,35,40,45,50]
polegadas = [round(x*39.37,2) for x in metros]
print(polegadas)

[196.85, 393.7, 590.55, 787.4, 984.25, 1181.1, 1377.95, 1574.8, 1771.65, 1968.5]

In [13]:
metros = [5,10,15,20,25,30,35,40,45,50]
pés = [round(x*3.281,2) for x in metros]
print(pés)

[16.41, 32.81, 49.22, 65.62, 82.03, 98.43, 114.84, 131.24, 147.65, 164.05]

In [14]:
metros = [5,10,15,20,25,30,35,40,45,50]
jardas = [round(x*1.094,2) for x in metros]
print(jardas)

[5.47, 10.94, 16.41, 21.88, 27.35, 32.82, 38.29, 43.76, 49.23, 54.7]

In [17]:
metros = [5,10,15,20,25,30,35,40,45,50]
milhasm = [round(x/1852,2) for x in metros]
print(milhasm)

[0.0, 0.01, 0.01, 0.01, 0.01, 0.02, 0.02, 0.02, 0.02, 0.03]

In [21]:
print("{:<10}{:<10}{:<10}{:<10}{:<10}".format("metros","polegadas","pés","jardas","milhasm"))
print("===============================================")
x = 0
while(x<len(metros)):
    print("{:<10}{:<10}{:<10}{:<10}{:<10}".format(metros[x],polegadas[x],pés[x],jardas[x],milhasm[x]))
    x += 1

metros    polegadas pés       jardas    milhasm
===============================================
5         196.85    16.41     5.47      0.0
10        393.7     32.81     10.94     0.01
15        590.55    49.22     16.41     0.01
20        787.4     65.62     21.88     0.01
25        984.25    82.03     27.35     0.01
30        1181.1    98.43     32.82     0.02
35        1377.95   114.84    38.29     0.02
40        1574.8    131.24    43.76     0.02
45        1771.65   147.65    49.23     0.02
50        1968.5    164.05    54.7      0.03

## Exercício 2

> Crie uma lista com 10 valores em Kalvin. Cri uma tabela de conversão para celcius e fahrenheit, listando o número de linha e o cabeçalho da tabela

In [22]:
kelvin = [100,200,300,400,500,600,700,800,900,950]
celcius = [round(x+273,2) for x in kelvin]
print(celcius)

[373, 473, 573, 673, 773, 873, 973, 1073, 1173, 1223]

In [25]:
kelvin = [100,200,300,400,500,600,700,800,900,950]
fahrenheit = [round(x*1.8-459.67,2) for x in kelvin]
print(fahrenheit)

[-279.67, -99.67, 80.33, 260.33, 440.33, 620.33, 800.33, 980.33, 1160.33, 1250.33]

In [26]:
print("{:<10}{:<10}{:<10}".format("kelvin","celcius","fahrenheit"))
print("===============================")
x = 0
while(x<len(metros)):
    print("{:<10}{:<10}{:<10}".format(kelvin[x],celcius[x],fahrenheit[x],))
    x += 1

kelvin    celcius   fahrenheit
===============================
100       373       -279.67
200       473       -99.67
300       573       80.33
400       673       260.33
500       773       440.33
600       873       620.33
700       973       800.33
800       1073      980.33
900       1173      1160.33
950       1223      1250.33