# Exercícios - Aula05 TPA

1- Crie um lista com 10 valores em metros. Crie uma tabela de conversão para polegadas, pés, jardas e milhas marítimas, listando o número da linha e o cabeçalho da tabela.

In [1]:
metros = [5,10,15,20,25,30,35,40,45,50]
polegadas = [round(x*39.37,2) for x in metros]
print(polegadas)

[196.85, 393.7, 590.55, 787.4, 984.25, 1181.1, 1377.95, 1574.8, 1771.65, 1968.5]

In [2]:
metros = [5,10,15,20,25,30,35,40,45,50]
pés = [round(x*3.281,2) for x in metros]
print(pés)

[16.41, 32.81, 49.22, 65.62, 82.03, 98.43, 114.84, 131.24, 147.65, 164.05]

In [3]:
metros = [5,10,15,20,25,30,35,40,45,50]
jardas = [round(x*1.094,2) for x in metros]
print(jardas)

[5.47, 10.94, 16.41, 21.88, 27.35, 32.82, 38.29, 43.76, 49.23, 54.7]

In [4]:
metros = [5,10,15,20,25,30,35,40,45,50]
milhasm = [round(x/1852,2) for x in metros]
print(milhasm)

[0.0, 0.01, 0.01, 0.01, 0.01, 0.02, 0.02, 0.02, 0.02, 0.03]

In [5]:
print("{:<10}{:<10}{:<10}{:<10}{:<10}".format("metros","polegadas","pés","jardas","milhasm"))
print("===============================================")
x = 0
while(x<len(metros)):
    print("{:<10}{:<10}{:<10}{:<10}{:<10}".format(metros[x],polegadas[x],pés[x],jardas[x],milhasm[x]))
    x += 1

metros    polegadas pés       jardas    milhasm
===============================================
5         196.85    16.41     5.47      0.0
10        393.7     32.81     10.94     0.01
15        590.55    49.22     16.41     0.01
20        787.4     65.62     21.88     0.01
25        984.25    82.03     27.35     0.01
30        1181.1    98.43     32.82     0.02
35        1377.95   114.84    38.29     0.02
40        1574.8    131.24    43.76     0.02
45        1771.65   147.65    49.23     0.02
50        1968.5    164.05    54.7      0.03

2- Crie uma lista com 10 valores em Kelvin. Crie uma tabela de conversão para Celsius e Fahrenheit, listando o número da linha e o cabeçalho da tabela.

In [6]:
kelvin = [100,200,300,400,500,600,700,800,900,950]
celcius = [round(x+273,2) for x in kelvin]
print(celcius)

[373, 473, 573, 673, 773, 873, 973, 1073, 1173, 1223]

In [7]:
kelvin = [100,200,300,400,500,600,700,800,900,950]
fahrenheit = [round(x*1.8-459.67,2) for x in kelvin]
print(fahrenheit)

[-279.67, -99.67, 80.33, 260.33, 440.33, 620.33, 800.33, 980.33, 1160.33, 1250.33]

In [8]:
print("{:<10}{:<10}{:<10}".format("kelvin","celcius","fahrenheit"))
print("===============================")
x = 0
while(x<len(metros)):
    print("{:<10}{:<10}{:<10}".format(kelvin[x],celcius[x],fahrenheit[x],))
    x += 1

kelvin    celcius   fahrenheit
===============================
100       373       -279.67
200       473       -99.67
300       573       80.33
400       673       260.33
500       773       440.33
600       873       620.33
700       973       800.33
800       1073      980.33
900       1173      1160.33
950       1223      1250.33

3- Crie um uma lista com 10 pesos em quilos. Faça a conversão para o peso na Terra, Lua, Júpiter, Saturno e Mercúrio. Monte uma tabela com o cabeçalho e a numeração conforme os exercícios passados.

In [9]:
kg = [10,20,30,40,50,60,70,80,90,100]
terra = [round(x,2) for x in kg]
print(terra)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [10]:
kg = [10,20,30,40,50,60,70,80,90,100]
lua = [round(x*1.6,2) for x in kg]
print(lua)

[16.0, 32.0, 48.0, 64.0, 80.0, 96.0, 112.0, 128.0, 144.0, 160.0]

In [12]:
kg = [10,20,30,40,50,60,70,80,90,100]
jupiter = [round(x*2.64,2) for x in kg]
print(jupiter)

[26.4, 52.8, 79.2, 105.6, 132.0, 158.4, 184.8, 211.2, 237.6, 264.0]

In [13]:
kg = [10,20,30,40,50,60,70,80,90,100]
saturno = [round(x*1.06,2) for x in kg]
print(saturno)

[10.6, 21.2, 31.8, 42.4, 53.0, 63.6, 74.2, 84.8, 95.4, 106.0]

In [14]:
kg = [10,20,30,40,50,60,70,80,90,100]
mercurio = [round(x*0.38,2) for x in kg]
print(mercurio)

[3.8, 7.6, 11.4, 15.2, 19.0, 22.8, 26.6, 30.4, 34.2, 38.0]

In [15]:
print("{:<10}{:<10}{:<10}{:<10}{:<10}".format("terra","lua","jupiter","saturno","mercurio"))
print("==================================================")
x = 0
while(x<len(metros)):
    print("{:<10}{:<10}{:<10}{:<10}{:<10}".format(terra[x],lua[x],jupiter[x],saturno[x],mercurio[x]))
    x += 1

terra     lua       jupiter   saturno   mercurio
==================================================
10        16.0      26.4      10.6      3.8
20        32.0      52.8      21.2      7.6
30        48.0      79.2      31.8      11.4
40        64.0      105.6     42.4      15.2
50        80.0      132.0     53.0      19.0
60        96.0      158.4     63.6      22.8
70        112.0     184.8     74.2      26.6
80        128.0     211.2     84.8      30.4
90        144.0     237.6     95.4      34.2
100       160.0     264.0     106.0     38.0